/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

$tabler-base: "tabler" !default;
/* Global */
@import 'tabler/tabler.scss';

body {
    overflow-y: auto;
}

.page {
    min-height: auto;
}

.bg-img {
    height: calc(100vh - 122px);
    background: url('assets/images/background/bg-img.png'); 
    background-size: cover;
}
