<div class="bg-img">
  <div class="container">
    <div class="row d-flex justify-content-first">
      <div class="col-5">
        <div class="card hover-card my-3">
          <h2 class="card-header">About Us</h2>
          <div class="card-body">

            <p>Food banks are non-profit organizations created to distribute donated food
              directly to individuals or to agencies that feed needy individually.</p>
            Food banks provide an important function in community by targeting a small, low income,
            subset of the local population.
            <p>The initiative to start the Food Bank was from Team "Food Donor" from the regular items being
              dropped off in the cupboards located in mosques by anonymous donors. "Food Donor"
              was created mainly to serve the marginalised community by offering assistance with basic household
              necessities.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-first">
      <div class="col-5">
        <div class="card hover-card my-3">
          <h2 class="card-header">Food that can be donated</h2>
          <div class="card-body">

            <p>"Food Donor" is a platform as an emergency aid provider for those who need or discard
              food supplies due to the narrowing of life. "Food Donor" provide the initiative that aimed
              at providing basic foodstuff, such as rice, canned sardines, sugar, salt, soya sauce,
              cooking oil and flour.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="page-header">
  <h1 class="page-title">
    Dashboard
  </h1>
</div>
<div class="row row-cards">
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-blue mr-3">
          <i class="fe fe-dollar-sign"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="javascript:void(0)">132 <small>Sales</small></a></h4>
          <small class="text-muted">12 waiting payments</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-green mr-3">
          <i class="fe fe-shopping-cart"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="javascript:void(0)">78 <small>Orders</small></a></h4>
          <small class="text-muted">32 shipped</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-red mr-3">
          <i class="fe fe-users"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="javascript:void(0)">1,352 <small>Members</small></a></h4>
          <small class="text-muted">163 registered today</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card p-3">
      <div class="d-flex align-items-center">
        <span class="stamp stamp-md bg-yellow mr-3">
          <i class="fe fe-message-square"></i>
        </span>
        <div>
          <h4 class="m-0"><a href="javascript:void(0)">132 <small>Comments</small></a></h4>
          <small class="text-muted">16 waiting</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-lg-2" *ngFor="let data of datas">
    <div class="card">
      <div class="card-body p-3 text-center">
        <div class="text-right text-green">
          {{ data.percentage }}%
          <i class="fe fe-chevron-up"></i>
        </div>
        <div class="h1 m-0">{{ data.id }}</div>
        <div class="text-muted mb-4">{{ data.title }}</div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Development Activity</h3>
      </div>
      <div>
        <canvas baseChart height="200" [datasets]="datasets" [labels]="labels" [options]="options" [colors]="colors"
          chartType="line"></canvas>
      </div>
      <div class="table-responsive">
        <table class="table card-table table-striped table-vcenter">
          <thead>
            <tr>
              <th colspan="2">User</th>
              <th>Commit</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="w-1"><span class="avatar" style="background-image: url(./assets/images/faces/male/9.jpg)"></span></td>
              <td>Ronald Bradley</td>
              <td>Initial commit</td>
              <td class="text-nowrap">May 6, 2018</td>
              <td class="w-1"><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
            </tr>
            <tr>
              <td><span class="avatar">BM</span></td>
              <td>Russell Gibson</td>
              <td>Main structure</td>
              <td class="text-nowrap">April 22, 2018</td>
              <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
            </tr>
            <tr>
              <td><span class="avatar" style="background-image: url(./assets/images/faces/female/1.jpg)"></span></td>
              <td>Beverly Armstrong</td>
              <td>Left sidebar adjustments</td>
              <td class="text-nowrap">April 15, 2018</td>
              <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
            </tr>
            <tr>
              <td><span class="avatar" style="background-image: url(./assets/images/faces/male/4.jpg)"></span></td>
              <td>Bobby Knight</td>
              <td>Topbar dropdown style</td>
              <td class="text-nowrap">April 8, 2018</td>
              <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
            </tr>
            <tr>
              <td><span class="avatar" style="background-image: url(./assets/images/faces/female/11.jpg)"></span></td>
              <td>Sharon Wells</td>
              <td>Fixes #625</td>
              <td class="text-nowrap">April 9, 2018</td>
              <td><a href="#" class="icon"><i class="fe fe-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> -->